@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@0;1&family=Poppins:ital,wght@0,400;1,300&display=swap');
body {
    font-family: 'Gentium Book Plus', serif;
}
.wrapper {
    width: 900px;
    height: 350px;
    background-image: linear-gradient(black, rgb(43, 3, 41));
    border-radius: 10px;
    margin-left: 300px;
    color: white;  
    position: relative;  
    top: 50px;
}
.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 100px;
}
.header-titile {
    display: flex;
}
.half-width {
    width: 50%;
    padding: 15px;
    margin-left: 50px;
}
.half-width img {
    width: 200px;
    height: 400px;
    margin-left: 30px;
}
.live-button {
    background-color: rgb(156, 0, 21);
    padding: 7px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.sidebar {
    background-color: rgb(0, 2, 0);
    width: 200px;
    height: 200px;
    margin-left: 300px;
    position: relative;
    top: 120px;
    border-radius: 5px;
}
.side-button {
        background-color: rgb(255, 255, 255);
        width: 150px;
        height: 35px;
        margin: 20px;
        display: block;
        border-radius: 5px;
        font-weight: 700;
        text-align: center;
    
}
.textex {
    margin-top: 10px;
    background-color: rgb(245, 17, 17);
}
.side-button a {
    text-decoration: none;
}
main {
    background-color: white;
    width: 675px;
    height: 950px;
    margin-right: 380px;
    position: relative;
    top: 120px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    border-radius: 5px;
    
}
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    justify-items: center;
    position: relative;
    top: 5px;
    box-shadow: 1px solid gray;
}
.shadow {
    box-shadow: 1px 1px rgb(230, 221, 221);
    border: 1px solid whitesmoke;
    border-radius: 7px;
}
.match, .match-banner img {
    width: 300px;
    width: 200px;
}
.match-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transfer-button, .match-info {
    margin-left: 5px;
}
.icon {
    margin-right: 100px;
}
.icon-text {
    padding: 5px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    top: 1050px;
  }
  hr{
    border: 1px solid rgb(24, 17, 17);
    margin-bottom: 27px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .Goal {
    display: inline;
    margin: 30px;
    position: relative;
    top: 10px;
  }
  .Goal a {
    text-decoration: none;
    color: white;
  }
  .social-link {
    margin: 20px;
    padding: 10px;
    position: relative;
    top: 10px;
  }
  @media only screen and (max-width: 1200px) {
        .wrapper {
            width: 100%;
            float: none;
            display: block;
            text-align: left;
            flex-direction: column;
         }
           .header-titile {
            background-color: red;
            
           }
           .main-wrapper {
            display: none;
           }
  }